@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.swal2-popup {
    font-family: 'Roboto', sans-serif;
  }

header {
    display: flex;
    height: 125px;
    top: 0;
    position: sticky;
    z-index: 5;
    justify-content: center;
    align-items: center;
    background-color: #312c38;
}

header img {
    height: 120px;
}

body {
    background-color: #312C38;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23552f33' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%237a3234' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%239e3635' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23c33936' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23E73C37' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.movieCarousel {
    width: 100%;
    height: 42vw;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.movieCarouselButton {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    border: 0px;
    cursor: pointer;
    background: rgba(111, 108, 108, 0.19);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(111, 108, 108, 0.29);
}

.movieCarouselButton img {
    width: 40px;
    height: 40px;
}

.movieCarouselButtonHidden {
    display: none;
}

.movieCarouselButtonLeft {
    left: 15px;
    z-index: 4;
}

.movieCarouselButtonRight {
    right: 15px;
    z-index: 4;
}

.movieCarouselContainer {
    position: relative;
    height: 100%;
}

.movieCarouselTrack {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    transition: transform 750ms ease-in;
}

.movieCarouselSlide {
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
}

.movieCarouselSlide img {
    max-width: 100%;
    max-height: auto;
    margin-top: -10vw;
    object-fit: cover;
}

.overlayCarousel {
    position: absolute;
    z-index: 3;
    width: 33vw;
    height: 35vw;
    top: 10vw;
    left: 58vw;
    background-color: #312C38;
    border-radius: 10px;
}

.overlayCarousel h2 {
    font-family: 'Sofia', cursive;
    font-size: 40px;
    padding-top: 2vw;
    padding-left: 3vw;
    color: #F7EFE7;
}

.divideLine {
    margin: 0 auto;
    height: 1px;
    width: 26vw;
    background-color: #bfb0a0;
    margin-top: 1vw;
}

.formGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.gridArea1 { grid-area: 1 / 1 / 2 / 2; }
.gridArea2 { grid-area: 1 / 2 / 2 / 3; }
.gridArea3 { grid-area: 2 / 1 / 3 / 2; }
.gridArea4 { grid-area: 2 / 2 / 3 / 3; }
.gridArea5 { grid-area: 3 / 1 / 4 / 2; }
.gridArea6 { grid-area: 3 / 2 / 4 / 3; }
.gridArea7 { grid-area: 4 / 2 / 5 / 3; }

.labelText {
    color: #F7EFE7;
    font-size: 22px;
    margin-top: 1vw;
    font-family: 'Roboto', sans-serif;
}

.inputText {
    margin-top: 1vw;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    background: rgba(158, 158, 158, 0.233);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: none;
    color: #f7efe7ab;
    margin-right: 0px;
}

option {
    background-color: #F7EFE7;
    color: #312C38;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none; 
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    padding-right: 3px;
}

.formSubmit {
    margin-left: 5vw;
    background: #F7EFE7;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: none;
    color: #312C38;
    text-align: center;
}

.mostrarEntradasAlComprar {
    overflow-y: auto;
    font-size: 22px;
    height: 11vw;
    width: 22vw;
    margin: 0 auto;
    margin-top: 1vw;
    padding-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    line-height: 1.5;
    background: rgba(158, 158, 158, 0.233);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    font-family: 'Roboto', sans-serif;
    color: #f7efe7ab;
    text-align: center;
}

.consultContainer {
    width: 80vw;
    height: 22vw;
    margin: 0 auto;
    margin-top: 5vw;
    margin-bottom: 10vw;
    background-color: #312C38;
    border-radius: 10px;
}

.consultContainer h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    padding-top: 2vw;
    text-align: center;
    color: #F7EFE7;
}

.consultForm {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-top: 1vw;
}

.consultInput {
    font-size: 22px;
    background: rgba(158, 158, 158, 0.233);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: none;
    text-align: center;
    color: #f7efe7ab;
}

.consultSubmit {
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    background: #F7EFE7;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: none;
    color: #312C38;
}

.consultDivider {
    margin: 0 auto;
    margin-top: 1vw;
    width: 70vw;
    height: 1px;
    background-color: #bfb0a0;
}

.consultedInformation {
    overflow-y: auto;
    margin: 0 auto;
    margin-top: 1vw;
    width: 50vw;
    height: 10vw;
    background: rgba(158, 158, 158, 0.233);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    color: #f7efe7ab;
    text-align: center;
}

.footerContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    height: 22vw;
    background-color: #312c38;
    }

.footerBody1, .footerBody2 {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    color: #F7EFE7;
    font-family: 'Roboto', sans-serif;
}

.footerBody1 h3, .footerBody2 h3 {
    font-size: 36px;
}

.socialMedia {
    display: flex;
    margin-top: 1vw;
    gap: 2vw;
    justify-content: end;
}

.socialMediaIcon {
    width: 60px;
    height: 60px;
}

.footerContact {
    margin-top: 1vw;
    text-decoration: none;
    list-style: none;
    font-size: 24px;
    line-height: 1.5;
}

.footerBody2 {
    grid-area: 1 / 2 / 2 / 3;
    text-align: right;
} 

.footerBody2 iframe {
    margin-top: 1vw;
    height: 10vw;
    width: 27vw;
    border-radius: 10px;
}

/*responsive del header*/
@media screen and (max-width: 1470px) {
    header {
        height: 100px;
    }
    header img {
        height: 95px;
    }
}

@media screen and (max-width: 850px) {
    header {
        height: 70px;
    }
    header img {
        height: 65px;
    }
}

/*responsive del formulario*/
@media screen and (max-width: 1860px) {
    .overlayCarousel h2 {
        font-size: 30px;
    }
    .labelText {
        font-size: 18px;
    }
    .inputText {
        font-size: 16px;
    }
    .mostrarEntradasAlComprar {
        font-size: 18px;
    }
}

@media screen and (max-width: 1680px) {
    .overlayCarousel h2 {
        font-size: 28px;
    }
    .labelText {
        font-size: 16px;
    }
    .inputText {
        font-size: 14px;
    }
    .mostrarEntradasAlComprar {
        font-size: 16px;
    }
}

@media screen and (max-width: 1470px) {
    .overlayCarousel {
        width: 40vw;
        top: 11vw;
        left: 50vw;
    }
    .divideLine {
        width: 32vw;
    }
    .mostrarEntradasAlComprar {
        font-size: 14px;
        height: 10vw;
        width: 30vw;
    }
}

@media screen and (max-width: 1180px){
    .overlayCarousel {
        height: 40vw;
        width: 50vw;
        top: 13vw;
        left: 40vw;
    }
    .divideLine {
        width: 40vw;
    }
    .mostrarEntradasAlComprar {
        height: 12vw;
        width: 38vw;
    }
}

@media screen and (max-width: 895px){
    .overlayCarousel {
        height: 48vw;
        width: 80vw;
        top: 13vw;
        left: 10vw;
    }
    .divideLine {
        width: 70vw;
    }
    .mostrarEntradasAlComprar {
        height: 15vw;
        width: 68vw;
    }
}

@media screen and (max-width: 600px){
    .overlayCarousel {
        height: 78vw;
        width: 70vw;
        top: 20vw;
        left: 15vw;
    }
    .overlayCarousel h2 {
        font-size: 24px;
    }
    .inputText {
        margin-top: 2vw;
    }
    .divideLine {
        margin-top: 2vw;
        margin-bottom: 2vw;
        width: 65vw;
    }
    .mostrarEntradasAlComprar {
        height: 15vw;
        width: 63vw;
    }
}

@media screen and (max-width: 470px){
    .movieCarouselButton img {
        width: 25px;
        height: 25px;
    }
    .movieCarouselButtonLeft {
        left: 5px;
    }
    .movieCarouselButtonRight {
        right: 5px;
    }
    .overlayCarousel {
        width: 76vw;
        height: 125vw;
        top: 25vw;
        left: 12vw;
    }
    .overlayCarousel h2 {
        font-size: 18px;
    }
    .divideLine {
        width: 70vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
    .labelText {
        font-size: 12px;
        margin-top: 2vw;
        padding-right: 15px;
    }
    .inputText {
        font-size: 8px;
    }
    .formSubmit {
        font-size: 12px;
    }
    .mostrarEntradasAlComprar {
        font-size: 12px;
        height: 50vw;
        width: 65vw;
        margin: 0 auto;
    }
}

/*responsive del div de consulta*/
@media screen and (max-width: 1860px) {
    .consultContainer h2 {
        font-size: 30px;
    }
    .consultInput {
        font-size: 18px;
    }
    .consultSubmit {
        font-size: 16px;
    }
    .consultedInformation {
        font-size: 18px;
    }
}

@media screen and (max-width: 1680px) {
    .consultContainer h2 {
        font-size: 28px;
    }
    .consultInput {
        font-size: 16px;
    }
    .consultSubmit {
        font-size: 14px;
    }
    .consultedInformation {
        font-size: 16px;
    }
}

@media screen and (max-width: 1180px) {
    .consultContainer {
        height: 35vw;
    }
    .consultedInformation {
        width: 50vw;
        height: 15vw;
    }
}

@media screen and (max-width: 895px){
    .consultContainer {
        width: 80vw;
        height: 35vw;
        margin-top: 15vw;
        margin-bottom: 15vw;
    }
    .consultContainer h2 {
        font-size: 22px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .consultedInformation {
        width: 55vw;
        height: 12vw;
    }    
}

@media screen and (max-width: 600px){
    .consultContainer {
        width: 80vw;
        height: 50vw;
        margin-top: 50vw;
        margin-bottom: 15vw;
    }
    .consultDivider {
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    .consultedInformation {
        width: 55vw;
        height: 20vw;
    }    
}

@media screen and (max-width: 470px){
    .consultContainer {
        height: 90vw;
        margin-top: 100vw;
        margin-bottom: 25vw;
    }
    .consultContainer h2 {
        padding-top: 4vw;
        padding-bottom: 2vw;
        font-size: 16px;
    }
    .consultInput {
        font-size: 12px;
    }
    .consultSubmit {
        font-size: 12px;
    }
    .consultDivider {
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
    .consultedInformation {
        font-size: 12px;
        width: 65vw;
        height: 50vw;
    }
}

/*responsive del footer*/
@media screen and (max-width: 1860px) {
    .footerBody1 h3, .footerBody2 h3 {
        font-size: 28px;
    }
    .socialMediaIcon {
        width: 50px;
        height: 50px;
    }
    .footerContact {
        font-size: 18px;
    }
    .footerBody2 iframe {
        height: 8vw;
    }
}

@media screen and (max-width: 1680px) {
    .footerBody1 h3, .footerBody2 h3 {
        font-size: 24px;
    }
    .socialMediaIcon {
        width: 40px;
        height: 40px;
    }
    .footerContact {
        font-size: 16px;
    }
    .footerBody2 iframe {
        height: 8vw;
    }
}

@media screen and (max-width: 1180px) {
    .footerBody2 iframe {
        height: 10vw;
    }
}

@media screen and (max-width: 1100px){
    .footerContainer {
        height: 30vw;
    }
    .footerBody1, .footerBody2 {
        margin-top: 10vw;
        margin-left: 4vw;
        margin-right: 4vw;
    }
    .footerBody1 h3, .footerBody2 h3 {
        font-size: 20px;
    }
    .socialMediaIcon {
        width: 35px;
        height: 35px;
    }
    .footerContact {
        font-size: 14px;
    }
    .footerBody2 iframe {
        height: 11vw;
    }
}

@media screen and (max-width: 770px){
    .footerContainer {
        height: 65vw;
    }
    .footerBody1, .footerBody2 {
        margin-top: 25vw;
        margin-left: 4vw;
        margin-right: 4vw;
    }
    .footerBody1 h3, .footerBody2 h3 {
        font-size: 20px;
    }
    .socialMediaIcon {
        width: 35px;
        height: 35px;
    }
    .footerContact {
        font-size: 14px;
    }
    .footerBody2 iframe {
        height: 11vw;
    }
} 

@media screen and (max-width: 600px){ 
    .footerContainer {
        height: 60vw;
    }
    .footerBody1, .footerBody2 {
        margin-top: 10vw;
    }
    .footerBody1 h3, .footerBody2 h3 {
        font-size: 18px;
    }
    .footerContact {
        font-size: 12px;
    }
    .footerBody2 iframe {
        height: 15vw;
        width: 40vw;
    }
}

@media screen and (max-width: 470px){
    .footerContainer {
        height: 60vw;
    }
    .footerBody1, .footerBody2 {
        margin-top: 10vw;
    }
    .footerBody1 h3, .footerBody2 h3 {
        font-size: 14px;
    }
    .footerContact {
        font-size: 10px;
    }
    .footerBody2 iframe {
        height: 15vw;
        width: 40vw;
    }
}